body,td,th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    height: 30px;
   }
   body {
    margin-left: 0px;
    margin-top: 70px;
    margin-right: 0px;
    margin-bottom: 0px;
   }
   li{
    font-weight: lighter;
   }
   .th{
    align:center;
   }
   table{
    padding: 20px;
   }
   .edu{
    padding: 40px;
   }
   .audio{
    text-align: center;
    background-color: rgb(122, 35, 126);
   }
   .video{
    text-align: center;
    background-color: rgb(33, 222, 232);
   }
   .websites{
    text-align: center;
   }